[submodule "WP4T44-02"]
	path = WP4T44-02
	url = https://github.com/project-fractal/WP4T44-02
[submodule "/home/pascal/git/WP4T42-07/.git"]
	path = /home/pascal/git/WP4T42-07/.git
	url = /home/pascal/git/WP4T42-07/.git
[submodule "WP4T42-07"]
	path = WP4T42-07
	url = /home/pascal/git/WP4T42-07/.git
