[submodule "WP4T44-02"]
	path = WP4T44-02
	url = https://github.com/project-fractal/WP4T44-02
[submodule "WP4T42-07-Hierarchical-Metascheduler"]
	path = WP4T42-07-Hierarchical-Metascheduler
	url = https://github.com/project-fractal/WP4T42-07-Hierarchical-Metascheduler.git
[submodule "WP4T41-03-PULPissimo"]
	path = WP4T41-03-PULPissimo
	url = https://github.com/project-fractal/WP4T41-03-PULPissimo.git 
[submodule "WP4T44-01-Security-PULP"]
	path = WP4T44-01-Security-PULP
	url = https://github.com/project-fractal/WP4T44-01-Security-PULP.git
[submodule "WP4T43-02-Safety-PULP"]
	path = WP4T43-02-Safety-PULP
	url = https://github.com/project-fractal/WP4T43-02-Safety-PULP.git
[submodule "WP4T42-01-AI_PULP"]
	path = WP4T42-01-AI_PULP
	url = https://github.com/project-fractal/WP4T42-01-AI_PULP.git
[submodule "WP4T43-01-Performance-Monitoring-Services"]
	path = WP4T43-01-Performance-Monitoring-Services
	url = git@github.com:project-fractal/WP4T43-01-Performance-Monitoring-Services.git
[submodule "WP4T43-03-SW-Diverse-Redundancy-Library"]
	path = WP4T43-03-SW-Diverse-Redundancy-Library
	url = git@github.com:project-fractal/WP4T43-03-SW-Diverse-Redundancy-Library.git
[submodule "WP4T41-04-Rpu-Power-Service"]
	path = WP4T41-04-Rpu-Power-Service
	url = git@github.com:project-fractal/WP4T41-04-Rpu-Power-Service.git
[submodule "WP4T43-06-FPGA_Fault_Injector/DAVOS"]
	path = WP4T43-06-FPGA_Fault_Injector/DAVOS
	url = https://gitlab.com/selene-riscv-platform/DAVOS.git
[submodule "WP4T41-02-HATMA-Adaptation-Logic"]
	path = WP4T41-02-HATMA-Adaptation-Logic
	url = https://github.com/project-fractal/WP4T41-02-HATMA-Adaptation-Logic.git
[submodule "WP4T43-AI_Scheduling"]
	path = WP4T43-AI_Scheduling
	url = git@github.com:project-fractal/WP4T43-AI_Scheduling.git
